h1 {
    color: red;
}

body {
    background-color: lightgray;
}

p{
    font-size: 20px;
}

h2{
    font-family: Arial;
}

h1{
    text-align: center;
}

img{
    border: 2px solid black;
}

.resaltar{
    background-color: green;
}

p{
    background-color: lightblue;
}

div{
    margin: 15px;
}

table{
    padding: 10px;
}

img{
    width: 200px;
}

#titulo-grande{
    font-size: 30px;
}

ul{
    background-color: purple;
}

.estilizar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: yellow;
}

#tabla-modificable{
    border: 1px solid black;
}
#celdas{
    padding: 5px;
}
